@model Movy.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
        <h4>@Html.DisplayNameFor(model => model.Movies)</h4>
        <table>
            @foreach(var m in Model.Movies)
            {
                <tr><td>@m.Name</td></tr>
            }
        </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
