@model Movy.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<hr />
@if (Model.Movies.Count > 0)
{
    <h3>Director</h3>
    <table>
        @foreach (var movieDirected in Model.Movies)
        {
            <tr><td>@Html.ActionLink(movieDirected.Name, "Details", "Movies", new { id = movieDirected.Id }, null)</td></tr>
        }
    </table>
}
@if (Model.Roles.Count > 0)
{
    <h3>Actor</h3>
    <table>
        @foreach (var act in Model.Roles)
        {
            <tr><td>@Html.ActionLink(act.Movie.Name, "Details", "Movies", new { id = act.Movie.Id }, null)</td></tr>
        }
    </table>
}
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
